.mainHeader {
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  justify-content: center;
  margin-bottom: 50px;
}

.mainHeader > * {
  background: #f6f6f6;
  padding: 30px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.3s;
  font-family: Zurich;
  color: black;
}

.mainHeader > *:hover {
  background: black;
  color: white;
  text-decoration: none;
}
