.mainHeader {
    display: flex;
    flex-direction: row;
    background: #F6F6F6;
    justify-content: center;
}

.mainHeader > * {
    background: #F6F6F6;
    padding: 30px;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: 0.3s;
    font-family: Zurich;
}

.mainHeader > *:hover {
    background: black;
    color: white;
}